<div style="text-align: center;">
  <h1 style="background-color: gray;">
    Welcome to Park and Ride Antwerpen
  </h1>
</div>
<nav>
  <form style="text-align: center;">
    <button routerLink="/parkandride" routerLinkActive="active">
      Carpool-Parkings
    </button>
    <br />
    <br />
    <button
      style="background-color: antiquewhite;"
      routerLink="/parkandridedetail"
      routerLinkActive="active"
    >
      Openbaar vervoer
    </button>
  </form>
</nav>
<!-- <app-park-and-ride></app-park-and-ride>

<app-park-and-ride-details></app-park-and-ride-details> -->

<router-outlet></router-outlet>
<!-- Routed vieuws go here -->
